# HPC / runtime outputs
nohup.out

# Local raw and processed datasets
datasets/raw/
datasets/processed/
datasets/theguardian/all_keywords_data/guardian_all_data

# Large local data files
*.zip
*.pkl
*.parquet

# Modeling outputs generated locally
results/

# IDE and MacOS Caches
.idea/
.ipynb_checkpoints/
.pytest_cache/
.DS_Store
.DS_Store%

# Python cache
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg