pandas
numpy
scipy
beautifulsoup4
optuna
spacy
spacy-cleaner
spacy-fastlang
bertopic
sentence-transformers
scikit-learn
umap-learn
gensim
octis
wordcloud
matplotlib
corextopic
hdbscan
torch
transformers